
<%- include('partials/header') %>

<section class="intro">
  <h2>Welcome to Yes, I tried! Recipes</h2>
  <p>Discover a world of flavor with our handpicked collection of recipes. From simple comfort foods to extraordinary culinary delights, we have something for everyone.</p>
  <p>Each recipe has been tested and perfected in our kitchen to ensure you get the best results every time.</p>
  <p>Do you want to learn more about this site? Check our <a href="/about/" class="aboutLink">About </a>page!</p>
</section>

<section class="recipe-cards">
  <h2>Our Featured Recipes</h2>
  <div class="card-container">
    <% recipes.forEach((recipe, index) => { %>
      <div class="card">
        <img src="<%= recipe.image %>" alt="<%= recipe.title %>">
        <div class="card-content">
          <h3><%= recipe.title %></h3>
          <p><%= recipe.shortDescription %></p>
          <a href="/recipe/<%= index + 1 %>" class="btn">View Recipe</a>
        </div>
      </div>
    <% }); %>
  </div>
</section>

<%- include('partials/footer') %>
